---
Checks: >
  -*,
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-*,
  security-*,
  -cert-err58-cpp,
  -readability-magic-numbers,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-macro-usage,
  -bugprone-reserved-identifier,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -readability-identifier-naming,
  -readability-function-size,
  -readability-braces-around-statements,
  -bugprone-narrowing-conversions,
  -bugprone-multi-level-implicit-pointer-conversion,
  -performance-no-int-to-ptr,
  -cert-err33-c,
  -readability-non-const-parameter,
  -readability-identifier-length,
  -readability-inconsistent-declaration-parameter-name,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
WarningsAsErrors: ''
HeaderFilterRegex: '.*type_balancer.*'
FormatStyle: none
CheckOptions:
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.FunctionPrefix
    value: ''
  - key: readability-identifier-naming.GlobalVariablePrefix
    value: rb_
  - key: readability-identifier-naming.GlobalVariableCase
    value: lower_case
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-function-size.LineThreshold
    value: '100'
  - key: readability-function-size.ParameterThreshold
    value: '5'
  - key: readability-function-cognitive-complexity.Threshold
    value: '50'
  - key: bugprone-argument-comment.StrictMode
    value: '1'
  - key: bugprone-argument-comment.CommentBoolLiterals
    value: '1'
  - key: bugprone-misplaced-widening-cast.CheckImplicitCasts
    value: '1'
  - key: bugprone-sizeof-expression.WarnOnSizeOfIntegerExpression
    value: '1'
  - key: performance-faster-string-find.StringLikeClasses
    value: 'std::basic_string'
  - key: performance-for-range-copy.WarnOnAllAutoCopies
    value: '1' 